nav{
    width:100%;
    max-width: 100%;
    height: 5.7rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--container-vertical) var(--container-lateral);
    background-color:var(--bg-nav,red);
    box-shadow: 0px 0px 7px 0 rgba(255,255,255,0.35);
    position: sticky;
    top: 0;
    z-index: 999;
    /* outline: pink solid 1px; */
}
#logo{
    display: flex;
    align-items: center;
    gap:1dvw;
    filter: drop-shadow(#000 0 0 3px);
}
#logo>#house{
    font-size: 4rem;
}
#logo>#title{
    font-size: 1.2rem;
}



.links-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-weight: 450;
    background-color: var(--bg-nav-rgba);
    backdrop-filter: blur(5px);
    position: absolute;
    right:0;
    gap:10dvh;
    overflow-x: hidden;
}
.links-mobile a{
    padding: 1.5dvh 20dvw;
    font-size: 2.7rem;
    filter: drop-shadow(0 0 5px #222);
}
.hidden{
    display: none;
}
#menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 900;
    border: var(--hover) solid 1.5px;
    margin: auto 0;
    font-size: 1.5rem;
    padding: 0.48rem;
    border-radius: 2dvw;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
#menu-btn:hover{
    background-color: var(--hover);
}
#close-btn{
    position: absolute;
    top: 4dvw;
    right:6dvw;
    font-size: 2rem;
    padding: 1dvw;
    outline: none;
    background: none;
    border:none;
    filter: drop-shadow(0 0 5px #222);
}



.links-desktop{
    display: none;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 2dvw;
    font-weight: 450;
}

.links-desktop a {
    text-align: center;
    align-content: center;
    color: white;
    text-decoration: none;
    position: relative; /* Make it easier to position the pseudo-element */
    text-wrap: nowrap;
}

.links-desktop a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Start from the middle */
    width: 0; /* Initially no width */
    height: 1.5px; /* Height of the underline */
    background-color: var(--hover); /* Color of the underline */
    transition: all 0.25s ease-in-out;
}

.links-desktop a:hover::after {
    left: 0; /* Expand to the left from the middle */
    width: 100%; /* Full width on hover */
}



@media (prefers-color-scheme: light) {
    nav{
        box-shadow: 0px 0px 7px 0 rgba(0,0,0,1);
    }
    #logo{
        color:white;
    }
}
/*Mobile*/
@media (min-width:425px) and (orientation:portrait) {
    #menu-btn{
        padding: 0.54rem;
    }
    #logo>#house{
        font-size: 4.8rem;
    }
    #logo>#title{
        font-size: 1.5rem;
    }
}
@media (min-width:600px) and (orientation:portrait) {
    nav{
        height: 7rem;
    }
    .links-mobile a{
        font-size: 3.2rem;
    }
    #menu-btn{
        font-size: 2.5rem;
        padding: 1rem;
    }
    #close-btn{
        font-size: 3.2rem;
    }
    #logo>#house{
        font-size: 6.8rem;
    }
    #logo>#title{
        font-size: 2.2rem;
    }
}
@media (min-width:768px) and (orientation:portrait) {
    nav{
        height: 6rem;
    }
    #logo>#house{
        font-size: 6.2rem;
    }
    #logo>#title{
        font-size: 2rem;
    }
    .links-mobile a{
        font-size: 3.5rem;
    }
    #menu-btn{
        font-size: 2.2rem;
        padding: 1rem;
    }
    #close-btn{
        font-size: 3.5rem;
    }
    .links-desktop{
        display:none;
    }
}
@media (min-width:1080px) and (orientation:portrait) {
    nav{
        height: 13rem;
    }
    #logo>#house{
        font-size: 14rem;
    }
    #logo>#title{
        font-size: 4.4rem;
    }
    .links-mobile a{
        font-size: 6.2rem;
    }
    #menu-btn{
        font-size: 4rem;
        padding: 2rem;
        border-width: 0.2rem;
    }
    #close-btn{
        font-size: 6.2rem;
    }
    .links-desktop{
        display:none;
    }
}

/* Desktops */
@media (min-height:360px) and (orientation:landscape) {
    nav{
        height: 2.1rem;
    }
    #logo>#house{
        font-size: 1.8rem;
    }
    #logo>#title{
        font-size: 0.6rem;
    }
    .links-desktop a{
        font-size: 0.6rem;
    }
    #menu-btn{
        display: none;
    }
    .links-desktop{
        display:grid;
    }
}
@media (min-width:1024px) and (orientation:landscape) {
    nav{
        height: 4rem;
    }
    #logo>#house{
        font-size: 4.2rem;
    }
    #logo>#title{
        font-size: 1.25rem;
    }
    .links-desktop a{
        font-size: 1.25rem;
    }
    #menu-btn{
        display: none;
    }
    .links-desktop{
        display:grid;
    }
}
@media (min-width:1920px) and (orientation:landscape) {
    nav{
        height: 6rem;
    }
    #logo{
        gap:0.1dvw;
    }
    #logo>#house{
        font-size: 6.6rem;
    }
    #logo>#title{
        font-size: 1.95rem;
    }
    #menu-btn{
        display: none;
    }
    .links-desktop{
        display:grid;
    }
    .links-desktop a{
        font-size: 1.5rem;
    }
}
@media (min-width:2160px) and (orientation:landscape) {
    nav{
        height: 7rem;
    }
    #logo>#house{
        font-size: 7.6rem;
    }
    #logo>#title{
        font-size: 2.45rem;
    }
    #menu-btn{
        display: none;
    }
    .links-desktop{
        display:grid;
    }
    .links-desktop a{
        font-size: 2.2rem;
    }
}